<div class="px-8 pb-8">
  <div class="w-full flex justify-center my-2 ">
    <div class="w-full md:w-11/12 lg:w-9/12">
      <button (click)="redirectBack()" class="  sm:mt-0 sm:ml-auto border border-bluePimp text-textPimp px-3 py-1 rounded-lg hover:scale-105 transition-transform focus:scale-100">
        Retour
      </button>
    </div>
  </div>

  <div class="w-full flex justify-center">
    <form (ngSubmit)="submitInvitationLink()" class="flex flex-col w-full md:flex-row items-center justify-center gap-4 md:w-11/12 lg:w-9/12">
      <input type="text" [(ngModel)]="inviteLink" name="link"
             class="w-full  px-4 py-2 border border-gray-300 rounded-lg shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent transition duration-300"
             placeholder="Entrez le lien d'invitation" required>

      <button type="submit"
              class="w-full md:w-auto bg-bluePimp hover:scale-105 transition-transform focus:bg-blue-500 text-white font-semibold px-6 py-2 rounded-lg shadow-md    duration-300">
        Envoyer
      </button>
    </form>
  </div>





  <div *ngIf="result?.slug" class="flex flex-col md:flex-row items-center justify-center border rounded-lg overflow-hidden w-full md:w-11/12 lg:w-9/12 mx-auto p-6 md:p-8 mt-2 gap-6">
    <div class="flex-shrink-0 w-full md:w-1/3 lg:w-1/4">
      <img class="w-full h-60 md:h-auto object-cover rounded-lg shadow-lg " src="{{ result?.image }}" alt="Event image" />
    </div>
    <div class="flex flex-col items-start justify-center w-full md:w-2/3 lg:w-3/4">
      <h1 class="text-xl md:text-2xl lg:text-3xl font-bold mb-6 text-center md:text-left">
        {{ result?.title_fr }}
      </h1>

      <div class="flex flex-col gap-2 mb-6 w-full">
        <div class="flex items-start space-x-2 mb-4 sm:mb-0">
          <div class="w-full flex gap-1 items-center">
            <img src="assets/calendar-days-svgrepo-com.svg" class="w-6">
            <p class="text-sm text-justify h-auto overflow-hidden text-ellipsis"> {{ result.daterange_fr}}</p>
          </div>
        </div>

        <div class="flex items-start flex-row gap-1">
          <img src="assets/location-sign-svgrepo-com.svg" class="w-6">
          <span class="text-sm md:text-base italic">{{ result?.location_address }}</span>
        </div>
      </div>

      <div class="flex gap-8">

        <button (click)="openOrganizeOutingForm()" class="text-white font-semibold px-6 py-2 rounded  bg-bluePimp hover:scale-105 transition-transform focus:bg-blue-500 w-full sm:w-auto">
          Organiser une sortie
        </button>

      </div>

    </div>
  </div>

  <div class="mt-8 flex flex-col justify-start items-center text-center">
    <h2 class="text-xl md:text-2xl lg:text-3xl font-semibold mb-4">Description de l'événement</h2>
    <p class="text-sm md:text-base lg:text-lg mt-2 w-full md:w-10/12 lg:w-8/12 px-2 text-justify"
       [innerHTML]="result.longdescription_fr"
    >
    </p>
  </div>

  <div *ngIf="outings && outings.length > 0; else noOuting" class="mt-8 w-full">
    <h2 class="text-xl font-bold mb-4 text-center">Sorties organisées pour cet événement :</h2>

    <div class="flex flex-wrap justify-center gap-6">
      <app-card-sortie
        class="w-11/12 sm:w-5/12 md:w-4/12 lg:w-4/12"
        *ngFor="let sortie of outings"
        [sortie]="sortie">
      </app-card-sortie>
    </div>
  </div>

  <!--POP-UP-->
  @if(isVisible){
    <div (click)="closePopup()" class="fixed inset-0 flex items-center justify-center z-50 bg-black bg-opacity-50">
      <div (click)="$event.stopPropagation()" class="bg-white border border-gray-200 rounded-lg shadow-md p-6 m-4 w-full max-w-lg relative">

        <button (click)="closePopup()" class="absolute top-2 right-2 text-gray-500 hover:text-gray-700">
          &times;
        </button>

        <div class="flex flex-col text-center">
          <p class="text-red-500">{{ errorMsg }}</p>
        </div>

        <div class="mt-4 w-full flex justify-center">
          <button (click)="redirectLog()" class="text-white font-semibold px-6 py-2 rounded-lg  bg-bluePimp hover:scale-105 transition-transform focus:bg-blue-500 w-full sm:w-auto">
            Se connecter
          </button>
        </div>
      </div>
    </div>
  }

  <ng-template #noOuting>
    <p class="text-center mt-10">Aucune sortie pour le moment :)</p>
  </ng-template>

</div>

